$colour-primary: #b11f24;
$colour-accent: #bc2f35;
$colour-secondary: #f1c526;

$colour-grey-100: #9c9c9c;
$colour-grey-50: #e1e1e1;
$colour-grey-20: #f2f2f2;

$colour-black: #000;
$colour-white: #fff;
