@import "../../styles/colours";

.social {
  padding: 5px;
  //   background-color: $colour-grey-20;
  //   color: $colour-grey-100;
  font-size: 20px;
  //   border: 1px solid $colour-primary;
  margin: 4px;
}
