@import "../../styles/colours";

.navigationItem {
  margin-left: 20px;
  box-sizing: border-box;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  margin-bottom: 0;
}

.navigationItem:hover > ul {
  display: block;
}

.navigationItem:hover > a {
  color: $colour-primary;
}

.navigationItem {
  a {
    text-decoration: none;
    color: $colour-black;
  }
}
