@import "../../styles/colours";

.navigationItem {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}

.navigationItem:hover > ul {
  display: block;
}

.navigationItem:hover > a {
  color: $colour-primary;
}

.navigationItem {
  a {
    padding: 10px 0;
    text-decoration: none;
    color: $colour-black;
    width: 100%;
    height: 100%;
  }
}
