@import "../../styles/colours";

.sidebar {
  position: fixed;
  width: 280px;
  max-width: 70%;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  transition: transform 0.3s ease-out;
  margin-top: -20px;
  box-shadow: 5px 0 10px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  top: 0;
  bottom: 0;
  max-height: auto;
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}
