@import "../../styles/colours";

.blogItem {
  width: 90%;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;

  h2,
  h3 {
    color: $colour-primary;
  }
  p {
    margin-bottom: 10px;
  }
}

.tags {
  color: $colour-primary;
}

.date {
  background-color: $colour-primary;
  padding: 10px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  p {
    color: $colour-white;
    font-size: 22px;
    margin-bottom: 0;
  }
}
