.heroContainer {
  width: 100%;
  background-image: url("../../images/hero-banner-2.jpg");
  background-size: cover;
  background-position-y: 20%;
  background-position-x: left;
  position: relative;

  h2 {
    font-size: 34px;
  }
}

.small {
  height: 15vh;
}

.large {
  height: 60vh;
}

.overlayContainer {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.hero {
  padding: 40px;
}

@media (max-width: 768px) {
  .hero {
    padding: 20px;
  }

  .heroContainer {
    background-position-y: center;
    background-position-x: center;
  }
}
